body {
    font-family: Tahoma, Geneva, sans-serif;
    background-color:whitesmoke;
}

textarea {
    min-height: 250px;
}

.single-email{
    padding: 5px;
    margin: 5px;;
}
.single-email:hover {
    cursor: pointer;
}